html, body, .jumbotron{
    /*background: #809fff;/*1.aukera:urdina*/
  /*  background: *#b3ffcc;/*2.aukera:berdea*/
  background: #b3ffcc;
}
a {
    cursor: pointer;
}

.help-block {
    font-size: 12px;
}

.jumbotron{
    align-content: center;
    width: 100%;
    height: 100%;

}


#header .loginImg{
  height: 203px;
  width: 237px;
  margin-top: 113px;
  margin-left: -143px;
}
#header .loginTitle{
  margin-top: -275px;
  margin-bottom: 39px;
  /*color: #0039e6;/*1.aukera: urdina*/
  color: #00b33c;/*2.aukera: berdea*/
  text-align: center;
  font-size: 70px;
  margin-left: 128px;
  width: 50%;
}

.goiburu{
    margin-left: 54px;
    margin-right: -116px;
}
.form-group{
    margin-left: 30px;
    margin-right: -4px;
    margin-top: 22px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary{
    background: #2e2eb8;
    margin-left: 117px;
}
.kaixo{
  margin-left: -38px;
  margin-right: -163px;
}
footer{
  width: 80%;
  margin: 0px auto;
  margin-top: 133px;
  color: gray;
  margin-left: 12px;
}
